pageId: events
title: Past Events
permalink: :pageId/
providers:
  events:
    provider: EventsCollection
    directory: entries/events
---
<section class="stack">
{% for event in this.providers.events %}
  {% set mainclasses = ['stack-item', 'row', 'min-full-height', cycle(['odd', 'even'], loop.index0)] %}
  {% if loop.first %}{% set mainclasses = mainclasses|merge(['first-item']) %}{% endif %}
  {% if loop.last %}{% set mainclasses = mainclasses|merge(['last-item']) %}{% endif %}
  {% set imageclasses = ['image-box', 'columns', 'large-6'] %}
  {% if loop.index0 is odd %}{% set imageclasses = imageclasses|merge(['large-pull-6']) %}{% endif %}
  {% set contentclasses = ['large-6', 'columns'] %}
  {% if loop.index0 is odd %}{% set contentclasses = contentclasses|merge(['large-push-6']) %}{% endif %}
  <article class="{{ mainclasses|join(' ') }}">
    <div class="{{ imageclasses|join(' ') }}">
      <a href="{{ event.permalink }}"><img src="http://farm3.staticflickr.com/2717/4241597802_9819ccb0f4_b.jpg" /></a>
    </div>
    <div class="{{ contentclasses|join(' ') }}">
      <div class="item-content {{ cycle(['item-content-left', 'item-content-right'], loop.index0) }}">
        <a href="{{ event.permalink }}"><h2>{{ event.title }}</h2></a>
        <h3>{{ event.subtitle }}</h3>
        <div class="text">
          <p>{{ event.teaser }}</p>
          <p><a class="readmore" href="{{ event.permalink }}">Read more →</a></p>
        </div>
      </div>
    </div>
  </article>
{% endfor %}
</section>
